.article_container {
    margin: 0 16%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}

.article_details_container {
    margin: 0 16%;
}

.article_details_title {
    font-size: 2.75rem;
    padding: 1.75rem 0 .25rem 0;
}

.article_item_info_author_profile_details {
    margin: .25rem;
}

.article_title {
    text-align: center;
    padding: 2rem 0 0 0;
}

.article_item_container {
    display: flex;
    gap: 1rem;
}

.article_item_image {
    width: 32%;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
}

.article_details_item_image {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    border-radius: 16px;
}

/* Article Item */

.article_item_info {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.article_item_info_author {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.article_item_info_author_profile {
    width: 2rem;
    height: 2rem;   
    border-radius: 200px;
    object-fit: cover;
}

.article_anchor_container {
    display: inline;
    color: black;
    text-decoration: none !important;
}

@media (width < 976px) {
    .article_container {
        margin: 0 7.5%;
    }

    .article_item_container {
        flex-direction: column;
    }

    .article_details_container {
        margin: 0 7.5%;
    }

    .article_item_image {
        width: 100%;
        height: auto;
    }
}