.members_container {
    margin: 0 16%;
}

.members_container {
    text-align: center;
    padding: 2rem;
}

.members_global {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

/* members profile photo */

.members_global_child {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.members_global_child_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.members_global_child_item_image {
    width: 18.75rem;
    height: 18.75rem;
}

@media (width < 768px) {
    .members_container {
        margin: 0 7.5%;
    }

    .members_global_child_item_image {
        width: 12rem;
        height: 12rem;
    }
}