{% extends 'layout.html' %}
{% load static %}

{% block header %}
    <title>Labic - Contato</title>
    <link href="{% static 'css/app/contact.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class='container'>
        <h1>Esta página se encontra em desenvolvimento.</h1>
        <button class='base_button'><a href="{% url 'home' %}">Início</a></button>
    </div>

    <script>
        document.querySelector('#contact-blank').style.display = 'inline';
        document.querySelector('#contact').style.display = 'inline';
        document.querySelector('#contact-li').style.justifyContent = 'space-between';
    </script>
{% endblock %}