{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/neufreit" rel="stylesheet">
    <link href="{% static 'css/layout.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    {% block header %}
    {% endblock %}
</head>
<body>
    <div class="container__layout__navbar_master">
        <div class="container__layout__navbar">
            <div class="layout__navbar__left__panel">
                <h1 class="layout__navbar__logo__title">LABIC</h1>
                <div class="navbar__left__panel__items">
                    <ul class="navbar_left_panel_ul">
                        <li class="navbar__left__panel__panel__ul__item"><a class="navbar__left__panel__panel__ul__anchor">Início</a></li>
                        <li class="navbar__left__panel__panel__ul__item"><a class="navbar__left__panel__panel__ul__anchor">Membros</a></li>
                        <li class="navbar__left__panel__panel__ul__item"><a class="navbar__left__panel__panel__ul__anchor">Artigos</a></li>
                        <li class="navbar__left__panel__panel__ul__item"><a class="navbar__left__panel__panel__ul__anchor">Projetos</a></li>
                        <li class="navbar__left__panel__panel__ul__item"><a class="navbar__left__panel__panel__ul__anchor">Contatos</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container__layout__navbar_divider"></div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>