{% extends 'layout.html' %}
{% load static %}

{% block header %}
    <title>Labic - Membros</title>
    <link rel="stylesheet" href="{% static 'css/app/members.css' %}">
{% endblock %}

{% block content %}
    <div class="members_container">
        <h1>Conheça Nossos Integrantes!</h1>
        <div class="members_global">
            <h2>Orientadores</h2>
            <div class="members_global_child">
                {% for membro in orientador  %}
                <div class="members_global_child_item">
                    <img class="members_global_child_item_image" src="{% get_media_prefix %}{{ membro.profile_photo }}" alt="blank">
                    <h3>{{ membro }}</h3>
                    <p>{{ membro.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="members_global">
            <h2>Bolsistas</h2>
            <div class="members_global_child">
                {% for membro in bolsista  %}
                <div class="members_global_child_item">
                    <img class="members_global_child_item_image" src="{% get_media_prefix %}{{ membro.profile_photo }}" alt="blank">
                    <h3>{{ membro }}</h3>
                    <p>{{ membro.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if voluntario %}
            <div class="members_global">
                <h2>Voluntários</h2>
                <div class="members_global_child">
                    {% for membro in voluntario  %}
                    <div class="members_global_child_item">
                        <img class="members_global_child_item_image" src="{% get_media_prefix %}{{ membro.profile_photo }}" alt="blank">
                        <h3>{{ membro }}</h3>
                        <p>{{ membro.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <script>
        document.querySelector('#members-blank').style.display = 'inline';
        document.querySelector('#members').style.display = 'inline';
        document.querySelector('#members-li').style.justifyContent = 'space-between';
    </script>
{% endblock %}